@import "tailwindcss";

body {
  background-color: #212121;
  color: #fff;
}

.footerbg {
  background-color: #212121;
  box-shadow: 0px 0px 6px 0px rgba(10, 252, 2, 0.3);
}

.spotifydatacon {
  background-color: #131313;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.3);
}
